* {
    box-sizing: border-box;
}

body {
    margin: 16px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #fafafa;
    color: #212121;
    line-height: 1.5;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

img {
    display: block;
}